In [1]:
#importing the libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
z = pd.read_csv('G:\Data sets\Ad.csv')
z.columns
z.shape
z.head(n=2)

C:\Anaconda\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0

In [2]:
z.describe()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Male,Clicked on Ad
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,65.000200,36.009000,55000.000080,180.000100,0.481000,0.50000
std,15.853615,8.785562,13414.634022,43.902339,0.499889,0.50025
min,32.600000,19.000000,13996.500000,104.780000,0.000000,0.00000
25%,51.360000,29.000000,47031.802500,138.830000,0.000000,0.00000
50%,68.215000,35.000000,57012.300000,183.130000,0.000000,0.50000
75%,78.547500,42.000000,65470.635000,218.792500,1.000000,1.00000
max,91.430000,61.000000,79484.800000,269.960000,1.000000,1.00000

In [3]:
z.corr(method = 'pearson')

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Male,Clicked on Ad
Daily Time Spent on Site,1.000000,-0.331513,0.310954,0.518658,-0.018951,-0.748117
Age,-0.331513,1.000000,-0.182605,-0.367209,-0.021044,0.492531
Area Income,0.310954,-0.182605,1.000000,0.337496,0.001322,-0.476255
Daily Internet Usage,0.518658,-0.367209,0.337496,1.000000,0.028012,-0.786539
Male,-0.018951,-0.021044,0.001322,0.028012,1.000000,-0.038027
Clicked on Ad,-0.748117,0.492531,-0.476255,-0.786539,-0.038027,1.000000

In [ ]:
#histogram of an attribute
sb.set_style('whitegrid')
z['Age'].hist(bins=30)
plt.xlabel('Age')

In [ ]:
#joint plot
J1 = sb.jointplot(x='Area Income',y = 'Age',data=z)

In [ ]:
J2 = sb.jointplot(x='Daily Time Spent on Site',y='Daily Internet Usage',data =z)

In [ ]:
#Joint distribution using kernel density estimation
KDE = sb.jointplot(x='Daily Time Spent on Site',y='Age',kind='kde',space=0,data=z)

In [ ]:
#Pairplot
P = sb.pairplot(z,hue='Clicked on Ad')

In [ ]:
#importing the data
y = z['Clicked on Ad']
x = z[['Daily Time Spent on Site','Age','Area Income','Daily Internet Usage','Male']]

In [ ]:
#splitting the data
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state =0)

In [ ]:
#fitting the data
LOR = LogisticRegression()
F = LOR.fit(x_train,y_train)

In [ ]:
#predicting the values
y_pred = LOR.predict(x_test)

In [ ]:
#finding the accuracy
print(accuracy_score(y_test,y_pred)*100)

In [ ]:
#finding the classification report
print(classification_report(y_test,y_pred))